
.menu li {
    margin: 0 10px;
}
.menu li a {
    font-weight: 700;
    position: relative;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}
.menu li a:hover {
    background: none;
    color: #EC3084;
}
.menu li a:active,
.menu li a:focus {
    background: none;
    color: #000000;
}
.menu li a.active {
    position: relative;
    background: none;
    color: #EC3084;
}
.menu li a.active::after,
.menu li a:hover::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    bottom: 0;
    background: #EC3084;
    left: 0;
}
